$yellow: #fff2c4;
$yellow-border: #f0ee5d;
$yellow-dark: rgba(189, 164, 24, 1);
$yellow-font: #735b39;

$pink: #ffbffd;
$pink-border: #ffa3f4;
$pink-dark: rgba(168, 24, 189, 1);
$pink-font: #752760;

$blue: #bfeeff;
$blue-border: #a3f6ff;
$blue-dark: rgba(24, 88, 189, 1);
$blue-font: #315175;

$lavander: #cbb1e1;
$lavander-border: #c9a3ff;
$lavander-dark: rgba(108, 24, 189, 1);
$lavander-font: #593175;

$mint: #b2e7c4;
$mint-border: #a3fff4;
$mint-dark: rgba(24, 189, 161, 1);
$mint-font: #316949;
